{{ define "main" }}
<article class="post">
  <h1 class="post-title">{{ .Title }}</a></h1>

  <p class="post-date">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ i18n "abrDate" . }}</time>
    - {{ i18n "readingTime" .ReadingTime }}
  </p>
  {{ .Content }}
</article>

{{ $related := .Site.Pages.Related . | first 3 }}
{{ with $related }}
<aside class="related">
  <h3>{{ i18n "suggestedPosts" }}</h3>
  <ul class="related-posts">
    {{ range . }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}
          <small><time datetime="{{ .Date.Format "2006-01-02" }}">{{ i18n "abrDate" . }}</time></small>
        </a>
      </li>
    {{ end }}
  </ul>
</aside>
{{ end }}
{{ end }}