// Hhead
//
// Super small header above the content for site name and short description.

.homepage {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.homepage-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-4;

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }

  small .svg-icon {
    color: $gray-3;
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    margin: 4px 5px;
    vertical-align: text-bottom;
  }
}
