{{ define "main" }}
<article class="post">
  <h1 class="post-title">{{ .Title }}</a></h1>

  <p class="post-date">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 Jan 2006"}}</time>
    - {{ .ReadingTime }} minutes de lecture
  </p>
  {{ .Content }}
</article>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<aside class="related">
  <h3>Suggestion d'articles</h3>
  <ul class="related-posts">
    {{ range . }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}
          <small><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02 Jan 2006"}}</time></small>
        </a>
      </li>
    {{ end }}
  </ul>
</aside>
{{ end }}
{{ end }}