<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
  <title>{{ .Title }}</title>
  {{ $style := resources.Get "css/main.scss" | toCSS | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ range .AlternativeOutputFormats -}}
  {{ printf `<link rel="%s" type="%s" title="%s" href="%s" />` .Rel .MediaType.Type $.Site.Title .Permalink | safeHTML }}
  {{ end -}}
  <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
  <link rel="manifest" href="/ico/site.webmanifest">
  <meta name="fediverse:creator" content="@fljdin@fosstodon.org">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
</head>